@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box; }

/* fin del reseteo */
.mainPage .sectionPage article {
  border: 3px solid;
  border-color: #ff6781;
  border-style: outset;
  border-radius: 20px; }

/*titulo principal de la pagina*/
header {
  grid-area: header;
  background-color: pink;
  height: 280px; }
  header .logo-mobile {
    display: flex;
    justify-content: center; }
  header .menu ul {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    list-style: none;
    gap: 15px; }
    header .menu ul .logo-tablet {
      display: none; }
    header .menu ul a {
      text-decoration: none;
      color: white; }
    header .menu ul .submenu {
      display: none; }

body {
  width: 100%;
  height: 100vh;
  font-family: "Oswald", sans-serif;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer"; }

main {
  grid-area: main;
  text-align: center; }
  main p {
    font-size: 1.5rem;
    width: 95%; }
  main h1 {
    text-decoration: underline pink 5px;
    font-family: "Ms Madi", cursive;
    font-size: 3rem; }
  main h2 {
    text-decoration: underline pink 5px;
    font-family: "Ms Madi", cursive;
    font-size: 2rem; }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
  font-size: 1rem;
  padding: 1rem; }
  footer .footerContainer {
    display: flex;
    flex-direction: row;
    gap: 10px; }

.mainInicio #galeria {
  display: none; }

.mainInicio .bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../multimedia/imagenes/fondo.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; }
  .mainInicio .bienvenida .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%; }
    .mainInicio .bienvenida .contenedor h1 {
      font-family: "Ms Madi", cursive;
      font-size: 3rem;
      text-shadow: 2px 0px 0px #ea8b9b, 0px 2px 0px #ea8b9b, -2px 0px 0px #ea8b9b, 0px -2px 0px #ea8b9b;
      text-decoration: none; }
    .mainInicio .bienvenida .contenedor p {
      font-weight: bold;
      text-shadow: 1px 0px 0px white, 0px 1px 0px white, -1px 0px 0px white, 0px -1px 0px white; }

.mainInicio .beneficios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1rem; }
  .mainInicio .beneficios .containerBeneficios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem; }
    .mainInicio .beneficios .containerBeneficios img {
      width: 95%; }
    .mainInicio .beneficios .containerBeneficios .descriptionBeneficios p {
      font-size: 1.5rem; }

.mainInicio .carouselMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffeaed;
  height: 100vh;
  gap: 2rem;
  padding: 1.5rem; }
  .mainInicio .carouselMobile .carousel {
    width: 88%; }

.mainInicio .videoInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  gap: 1rem; }
  .mainInicio .videoInicio iframe {
    width: 100%;
    height: 300px; }
  .mainInicio .videoInicio .descriptionVideo {
    text-align: justify; }
    .mainInicio .videoInicio .descriptionVideo h3 {
      text-align: center; }
    .mainInicio .videoInicio .descriptionVideo p {
      font-size: 1.2rem; }

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../multimedia/imagenes/fondo-recetas.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat; }
  .mainPage .tituloPage {
    margin-top: 2rem; }
  .mainPage .sectionPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2px; }
    .mainPage .sectionPage article {
      background-color: white;
      padding: 15px; }
      .mainPage .sectionPage article .containerArticle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify; }
        .mainPage .sectionPage article .containerArticle div {
          margin: 5px; }

.sectionProductos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem; }
  .sectionProductos article {
    display: flex;
    justify-content: center;
    align-items: center; }

.mainContacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  gap: 7px;
  margin: 10px; }
  .mainContacto fieldset {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    font-weight: bold;
    gap: 5px; }
    .mainContacto fieldset input {
      width: 100%; }

.sectionNosotros {
  display: flex;
  flex-direction: column; }

@media screen and (min-width: 768px) {
  /*menu tablet */
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    header .logo-mobile {
      display: none; }
    header .menu ul {
      font-size: 1.2rem; }
      header .menu ul .logo-tablet {
        display: initial; }
      header .menu ul li {
        display: flex;
        align-items: center;
        height: fit-content;
        margin-top: 12%; }
  /* pagina de inicio tablet*/
  .mainInicio {
    display: grid;
    grid-template-areas: "bienvenida" "beneficios" "recetas" "video" "productos"; }
    .mainInicio .carouselMobile {
      display: none; }
      .mainInicio .carouselMobile .carousel {
        display: none; }
    .mainInicio #galeria {
      display: initial; }
    .mainInicio h1 {
      font-size: 3.5rem; }
    .mainInicio h2 {
      font-size: 2.8rem; }
    .mainInicio .bienvenida {
      grid-area: bienvenida;
      height: 18rem; }
      .mainInicio .bienvenida .contenedor {
        width: 100%; }
        .mainInicio .bienvenida .contenedor h1 {
          font-size: 3.8rem; }
        .mainInicio .bienvenida .contenedor p {
          font-size: 1.6rem; }
    .mainInicio .beneficios {
      grid-area: beneficios;
      background-color: #ffeaed;
      margin: 0; }
      .mainInicio .beneficios .descriptionBeneficios {
        width: 70%; }
        .mainInicio .beneficios .descriptionBeneficios p {
          font-size: 1.4rem; }
    .mainInicio .galeriaInicioRecetas {
      grid-area: recetas; }
      .mainInicio .galeriaInicioRecetas .containerRecetas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        height: 100vh; }
        .mainInicio .galeriaInicioRecetas .containerRecetas .descriptionRecetas {
          width: 70%; }
          .mainInicio .galeriaInicioRecetas .containerRecetas .descriptionRecetas p {
            font-size: 1.4rem; }
    .mainInicio .galeriaInicioProductos {
      grid-area: productos; }
      .mainInicio .galeriaInicioProductos .containerProductos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        gap: 3rem; }
        .mainInicio .galeriaInicioProductos .containerProductos .descriptionProductos {
          width: 70%; }
          .mainInicio .galeriaInicioProductos .containerProductos .descriptionProductos p {
            font-size: 1.4rem; }
    .mainInicio .imagenesInicio {
      display: flex;
      flex-direction: row;
      gap: 2rem; }
      .mainInicio .imagenesInicio img {
        border: 6px solid;
        border-color: #ff6781;
        border-style: double;
        width: 230px;
        height: 270px;
        border-radius: 100%; }
    .mainInicio .videoInicio {
      background-color: #ffeaed;
      grid-area: video; }
      .mainInicio .videoInicio iframe {
        width: 80%;
        height: 340px; }
      .mainInicio .videoInicio .descriptionVideo {
        width: 70%; }
        .mainInicio .videoInicio .descriptionVideo p {
          font-size: 1.3rem; }
  /*pagina de recetas */
  .mainPage .sectionPage {
    margin: 20px; }
  /*pagina de productos*/
  .sectionProductos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem; }
  /* pagina de contacto tablet */
  .mainContacto {
    color: black;
    padding: 28px; }
    .mainContacto .pcontacto {
      font-size: 1rem; }
    .mainContacto fieldset {
      color: black;
      font-weight: lighter; }
      .mainContacto fieldset label {
        color: black;
        font-size: 19px; }
  /* pagina de nosotros tablet */
  .mainNosotros {
    padding: 15px; }
    .mainNosotros .sectionNosotros {
      display: flex;
      flex-direction: row;
      padding: 15px; }
      .mainNosotros .sectionNosotros .descripcion {
        padding: 10px;
        text-align: start; } }

/* desktop */
@media screen and (min-width: 1024px) {
  /* menu principal desktop*/
  .menu li {
    padding: 5px 15px;
    position: relative;
    text-align: center; }
    .menu li::after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ff6781;
      transform-origin: bottom;
      transition: transform 0.25s ease-out; }
    .menu li:hover::after {
      transform: scaleX(1);
      transform-origin: bottom; }
  /* pagina de inicio desktop */
  .mainInicio {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "bienvenida bienvenida" "beneficios beneficios" "recetas recetas" "video video" "productos productos"; }
    .mainInicio .bienvenida {
      height: 100vh; }
    .mainInicio .beneficios {
      height: 100vh;
      gap: 3rem; }
    .mainInicio .videoInicio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .mainInicio .videoInicio iframe {
        width: 50%;
        height: 340px; }
    .mainInicio .imagenesInicio img {
      transition: all 1s; }
      .mainInicio .imagenesInicio img:hover {
        opacity: 0.7; }
  /*pagina de productos y recetas tablet*/
  .mainPage .sectionPage article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    width: 80%; }
    .mainPage .sectionPage article h3 {
      text-align: center;
      text-decoration: underline #ff6781; }
    .mainPage .sectionPage article .containerArticle {
      display: flex;
      flex-direction: row; } }
