/* desktop */
@media screen and (min-width: 1024px) {

    /* menu principal desktop*/
    .menu {
        li {
            padding: 5px 15px;
            position: relative;

            &:hover {
                background-color: $colorTitulo;
                background-size: cover;
                border-radius: 10%;
                margin-bottom: 5px;
            }

            &:hover .submenu {
                display: block;
                background-color: $bgSubmenu;
                border-radius: 8%;
            }
        }

        .submenu {
            position: absolute;
            display: none;
            left: 0;
            margin-top: 4px;

            li {
                display: block;
            }
        }
    }

    /* pagina de inicio desktop */
    .bodyInicio {
        .mainInicio {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 0.1fr 0.1fr 1fr 1fr;
            grid-template-areas:
                ".  ."
                "bienvenida bienvenida"
                "recetas    video"
                "productos  video"
            ;
    
            .videoInicio {
                display: flex;
                align-items: center;
            }
    
            .imagenesInicio {
                img {
                    transition: all 1s;
    
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    /* paginas de recetas y productos */
    .mainPage {
        grid-template-rows: 15px 0.1fr 1fr;
        grid-template-areas: ".      .      ."
            "titulo titulo titulo"
            "receta  receta receta"
        ;

        .tituloPage {
            grid-area: titulo;
        }

        .sectionPage {
            grid-area: receta;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 15px;
        }
    }
}