/* desktop */
@include responsive(desktop) {

    /* menu principal desktop*/
    .menu {
        li {
            padding:5px 15px;
            position: relative;
            text-align: center;
            &::after{
                content: '';
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $colorHover;
                transform-origin: bottom;
                transition: transform 0.25s ease-out;
            }
            &:hover::after {
                transform: scaleX(1);
                transform-origin: bottom;
            }
        }
    }

    /* pagina de inicio desktop */
    .mainInicio {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "bienvenida bienvenida"
            "beneficios beneficios"
            "recetas recetas"
            "video video"
            "productos productos"
        ;

        .bienvenida {
            height: 100vh;
        }

        .beneficios {
            height: 100vh;
            gap: 3rem;
        }

        .videoInicio {
            @include flexBase (column);
            @include FlexAlineacion;
                iframe {
                    width: 50%;
                    height: 340px;
                }
            }

        .imagenesInicio {
            img {
                transition: all 1s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    /*pagina de productos y recetas tablet*/
    .mainPage {
        .sectionPage {
            article {
                @include flexBase (column);
                @include FlexAlineacion;
                margin: 5px;
                width: 80%;

                h3 {
                    text-align: center;
                    text-decoration: underline $colorHover;
                }

                .containerArticle {
                    @include flexBase (row);
                }
            }
        }
    }
}