/* desktop */
@media screen and (min-width: 1024px) {

    /* menu principal desktop*/
    .menu {
        li {
            padding: 5px 15px;
            position: relative;
            text-align: center;

            &:hover {
                background-color: $colorHover;
                background-size: cover;
                border-radius: 10%;
            }

            &:hover .submenu {
                display: block;
                background-color: $bgSubmenu;
                border-radius: 8%;
                margin-top: 12rem;
            }
        }

        .submenu {
            position: absolute;
            display: none;
            left: 0;
            margin-top: 4px;

            li {
                display: block;
            }
        }
    }

    /* pagina de inicio desktop */
    .mainInicio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.1fr 1fr 1fr;
        grid-template-areas:
            "bienvenida bienvenida"
            "recetas    video"
            "productos  video"
        ;

        .videoInicio {
            display: flex;
            align-items: center;
        }

        .imagenesInicio {
            img {
                transition: all 1s;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
        /*pagina de productos y recetas tablet*/
        .mainPage {
            .sectionPage {
                article {
                    @include flexBase (column);
                    @include FlexAlineacion;
                    margin: 5px;
                    width: 80%;
                    h3{
                        text-align: center;
                        text-decoration: underline $colorHover;
                    }
                    .containerArticle{
                        @include flexBase (row);
                    }
                }
            }
        }
}