@media screen and (min-width: 768px) {

    /*menu tablet */
    header {
        @include flexBase (column);
        @include FlexAlineacion;

        .logo-mobile {
            display: none;
        }

        .menu {
            ul {
                font-size: 1.2rem;

                .logo-tablet {
                    display: initial;
                }

                li {
                    display: flex;
                    align-items: center;
                    height: fit-content;
                    margin-top: 8%;
                }
            }
        }
    }

    /* pagina de inicio tablet*/
    .mainInicio {
        display: grid;
        grid-template-areas:
            "bienvenida"
            "video"
            "recetas"
            "productos";
        text-align: center;
        gap: 20px;
        margin: 0;

        #carouselExampleCaptions {
            display: none;
        }

        #carouselExampleIndicators {
            display: none;
        }

        #galeria {
            display: initial;
        }

        .galeriaInicioRecetas {
            grid-area: recetas;
            img {
                @include bordeImagenes;
            }
        }

        .galeriaInicioProductos {
            grid-area: productos;
            img {
                @include bordeImagenes;
            }
        }

        .bienvenida {
            grid-area: bienvenida;
        }

        .bienvenida {
            background-image: url("../multimedia/imagenes/fondo.jpg");
            background-attachment: fixed;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 20rem;

            .contenedor {
                @include flexBase (column);
                @include FlexAlineacion;
                height: 100%;

                h1 {
                    font-family: $fontPrincipal;
                    font-size: 4rem;
                    text-shadow: 2px 0px 0px $colorBordeT,
                        0px 2px 0px $colorBordeT,
                        -2px 0px 0px $colorBordeT,
                        0px -2px 0px $colorBordeT;
                }
            }
        }

        .imagenesInicio {
            @include flexBase (row);
            gap: 1rem;

            img {
                width: 200px;
                height: 290px;
            }
        }

        .videoInicio {
            grid-area: video;

            iframe {
                width: 80%;
                height: 340px;
            }
        }
    }

    /*pagina de recetas */
    .mainPage {
        .sectionPage {
            margin: 20px;
        }
    }

    /*pagina de productos*/
    .sectionProductos {
        @include flexBase (row);
        flex-wrap: wrap;
        gap: 3rem;
    }

    /* pagina de contacto tablet */
    .mainContacto {
        color: $colorBody;
        padding: 28px;

        .pcontacto {
            font-size: 1rem;
        }

        fieldset {
            color: $colorBody;
            font-weight: lighter;

            label {
                color: $colorFormulario;
                font-size: 19px;
            }
        }
    }

    /* pagina de nosotros tablet */
    .mainNosotros {
        padding: 15px;

        .sectionNosotros {
            @include flexBase(row);
            padding: 15px;

            .descripcion {
                padding: 10px;
                text-align: start;
            }
        }
    }
}