@include responsive(tablet) {

    /*menu tablet */
    header {
        @include flexBase (column);
        @include FlexAlineacion;

        .logo-mobile {
            display: none;
        }

        .menu {
            ul {
                font-size: 1.2rem;
                background-color: $bgPrincipal;
                margin-top: 0;

                .logo-tablet {
                    display: initial;
                }

                li {
                    display: flex;
                    align-items: center;
                    height: fit-content;
                }
            }
        }
    }

    /* pagina de inicio tablet*/
    .mainInicio {
        .carouselMobile{
        display: none;
            .carousel{
            display: none;
            }
        }

        #galeria {
            display: initial;
        }
        h1{
        font-size: 3.5rem;
        }
        h2{
        font-size: 2.8rem;
        }
        display: grid;
        grid-template-areas:
            "bienvenida"
            "beneficios"
            "recetas"
            "video"
            "productos";          

        .bienvenida {
            grid-area: bienvenida;
            height: 18rem;
            .contenedor {
                width: 100%;
                h1 {
                font-size: 3.8rem;
                }
                p{
                font-size: 1.6rem;
                }
            }
        }
        .beneficios {
            grid-area: beneficios;
            background-color: $bgSecundario;
            margin: 0;
            padding: 2rem 0;
            .descriptionBeneficios{
                width: 70%;
                p{
                    font-size: 1.4rem;
                }

            }
        }

        .galeriaInicioRecetas {
            grid-area: recetas;
            @include paddingInicio;
            .containerRecetas{
                @include flexBase (column);
                @include FlexAlineacion;
                gap: 3rem;
                .descriptionRecetas {
                    width: 70%;
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }
        .galeriaInicioProductos {
            grid-area: productos;
            @include paddingInicio;
            .containerProductos{
                @include flexBase (column);
                @include FlexAlineacion;
                gap: 3rem;
                .descriptionProductos {
                    width: 70%;
                    p{
                        font-size: 1.4rem;
                    }
                }
            }
        }

        .imagenesInicio {
            @include flexBase (row);
            gap: 2rem;
            img {
                @include bordeImagenes;
                width: 230px;
                height: 270px;
                border-radius: 100%;
            }
            h3{
                font-style: italic;
                font-weight:500;
            }
        }

        .videoInicio {
            background-color: $bgSecundario;
            grid-area: video;
            @include paddingInicio;
            iframe {
                width: 80%;
                height: 340px;
            }
            .descriptionVideo{
                width: 70%;
                p {
                    font-size: 1.3rem;
                }
            }
        }
    }

    /*pagina de recetas */
    .mainPage {
        .sectionPage {
            margin: 20px;
    }
}

    /*pagina de productos*/
    .sectionProductos {
        @include flexBase (row);
        flex-wrap: wrap;
        gap: 3rem;
    }

    /* pagina de contacto tablet */
    .mainContacto {
        color: $colorBody;
        padding: 28px;

        .pcontacto {
            font-size: 1rem;
        }

        fieldset {
            color: $colorBody;
            font-weight: lighter;

            label {
                color: $colorFormulario;
                font-size: 19px;
            }
        }
    }

    /* pagina de nosotros tablet */
    .mainNosotros {
        p{
            font-size: 1.2rem;
        }
        .sectionNosotros {
            @include flexBase(column);
            img{
                width: initial;
            }

            .descripcion {
                text-align: start;
                h3{
                text-align: center;
                }
                p{
                    font-size: 1.1rem;
                }
            }
        }
    }
}