footer {
    @include flexBase(column);
    @include FlexAlineacion;
    background-color: $bgPrincipal;
    font-size: 1rem;
    margin-top: 2rem;

    .footerContainer {
        @include flexBase (row);
    }
}