footer {
    @include flexBase(column);
    @include FlexAlineacion;
    background-color: $bgPrincipal;
    font-size: 1rem;
    padding: 1rem;

    .footerContainer {
        @include flexBase (row);
        gap: 10px;
    }
}