
/*titulo principal de la pagina*/
header {
    grid-area: header;
    background-color: $bgPrincipal;
    height: 280px;
    
    .logo-mobile{
        display: flex;
        justify-content: center;

    }
    .menu {
        ul {
            @include flexBase (row);
            font-size: 1rem;
            list-style: none;
            gap: 15px;
            .logo-tablet{
                display: none;
            }
            a {
                color: $colorSubmenu;
            }
            .submenu {
                display: none; 
            }
        }
    }
}


