
    .mainContacto {
        @include flexBase(column);
        @include FlexAlineacion;
        color: $colorFormulario;
        gap: 7px;
        margin: 10px;
        fieldset {
            @include flexBase(column);
            align-items: flex-start;
            color: $colorFormulario;
            font-weight: bold;
            gap: 5px;
            input {
                width: 100%;
            }
        }
    }

