.bodyProductos {
    background-image: url("../multimedia/imagenes/fondo\ productos\ mobile.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    .sectionPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        .detalle {
            background-color: $bgDetalle;
        }
    }
}