    .mainPage {
        @include flexBase (column);
        @include FlexAlineacion;
        background-image: url("../multimedia/imagenes/fondo-recetas.jpg");
        background-attachment: fixed;
        background-size:cover;
        background-position: right;
        background-repeat: no-repeat;
        .tituloPage{
            @include flexBase (column);
            @include FlexAlineacion;
            margin-top: 2rem;
            p{
            @include sombraLetrasFino ($colorSubmenu);
            font-weight: bold;
            }
        }
        .sectionPage{
            @include flexBase (column);
            @include FlexAlineacion;
            gap: 4rem;
            margin: 2.5px;
            article{
                background-color: $colorSubmenu;
                padding: 15px;
                @extend %border;
                .containerArticle{
                    @include flexBase (column);
                    @include FlexAlineacion;
                    text-align: justify;
                    div{
                        margin: 5px;
                    }
                }
            }
        }
    }