    .mainPage {
        @include flexBase (column);
        @include FlexAlineacion;
        background-image: url("../multimedia/imagenes/fondo-recetas.jpg");
        background-attachment: fixed;
        background-size:cover;
        background-position: right;
        background-repeat: no-repeat;
        .tituloPage{
            @include flexBase (column);
            @include FlexAlineacion;
            margin-top: 2rem;
            p{
            @include sombraLetrasFino ($colorSombra);
            font-weight: bold;
            text-align: justify;
            width: 90%;
            }
        }
        .sectionPage{
            @include flexBase (column);
            @include FlexAlineacion;
            gap: 4rem;
            margin: 2.5px;
            article{
                background-color: $colorSombra;
                padding: 15px;
                @extend %border;
                h3 {
                    font-family: $fontPrincipal;
                    font-size: 2rem;
                }
                a{
                    display: flex;
                    justify-content: end;
                    color: $colorHover;
                    font-weight: 600;
                }
                .containerArticle{
                    @include flexBase (column);
                    @include FlexAlineacion;
                    text-align: justify;
                    div{
                        margin: 5px;
                        h4{
                            color: $colorHover;
                            font-weight: bolder;
                        }
                    }
                }
            }
        }
    }