
// letras
$fontPrincipal: 'Ms Madi', cursive;
$fontBody: 'Oswald', sans-serif;

//fondos
$bgPrincipal: pink;
$bgSubmenu:rgba(0, 0, 0, 0.797);
$bgSecundario: #ffeaed;

//colores
$colorHover: #ea899a;
$colorBody: black;
$colorSubmenu: white;
$colorFormulario: black;
$colorBordeT: rgb(234, 139, 155);
