
// letras
$fontPrincipal: 'Ms Madi', cursive;
$fontBody: 'Oswald', sans-serif;

//fondos
$bgPrincipal:  rgba(0, 0, 0, 0.223);
$bgDetalle:rgba(0, 0, 0, 0.511);
$bgFooter: rgba(0, 0, 0, 0.711);
$bgSubmenu:rgba(0, 0, 0, 0.797);

//colores
$colorTitulo: rgb(185, 90, 122);
$colorBody: white;
$colorBordeT: white;
$colorFormulario: black;