
// letras
$fontPrincipal: 'Ms Madi', cursive;
$fontBody: 'Oswald', sans-serif;

//fondos
$bgPrincipal: pink;
$bgSubmenu:rgba(0, 0, 0, 0.797);

//colores
$colorHover: rgb(185, 90, 122);
$colorBody: black;
$colorSubmenu: white;
$colorFormulario: black;
$colorBordeT: rgb(234, 139, 155);